<h1><%= @restaurant.name %></h1>

Address: <%= @restaurant.address %> <br>
Tel:<%=  @restaurant.tel %> <br>
Opening Hours:<%= @restaurant.opening_hours %><br>
Description:<%=  @restaurant.description %><br>
<%= image_tag @restaurant.image, width: '600px' %>

<br>

<%= link_to "Back to Index", admin_restaurants_path %>